<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
<listener
    class-name="api.utilities.ExtentReportNG" />
    </listeners>>


    <test verbose="2" preserve-order="true" name="D:/PetStoreAutomation/src/test/java/api/test">
    <classes>
        <class name="api.test.UserTests2">
            <methods><include name="testPostUser"/>
                <include name="testGetUser"/>
                <include name="testUpdateUser"/>
                <include name="testDeleteUser"/>
            </methods>
        </class>
    </classes>
</test>
</suite>